<div class="col-md-6 col-md-offset-3">
    <h2>Add A project to a location</h2>
    <form name="form" ng-submit="AddProject()" role="form">
        <div class="control-group">
            <div class="form-group" ng-class="{ 'has-error': form.LocationName.$dirty && form.LocationName.$error.required }">
                <label>Location name</label>
                <select name="LocationName" id="LocationName" ng-model="ToAddData.LocationId" class="form-control" required ng-options='item.LocationId as (item.LocationName) for item in Locations' ng-change="fetchProjects(ToAddData.LocationId)">
                    <option value="" ng-selected="true">---Select Location---</option>
                </select>
                <span style="color:red" ng-show="form.LocationName.$dirty && form.LocationName.$error.required" class="help-block">Select A location</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.ProjectName.$dirty && form.ProjectName.$error.required }">
                <label>Project name</label>
                <select name="ProjectName" id="ProjectName" ng-model="ToAddData.ProjectId" class="form-control" required ng-options='item.ProjectId as (item.ProjectName) for item in Projects'>
                    <option value="" ng-selected="true">---Select Product---</option>
                </select>
                <span style="color:red" ng-show="form.ProjectName.$dirty && form.ProjectName.$error.required" class="help-block">Select A Project</span>
            </div>
            <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Add Project</button>
                <a href="#/home" class="btn btn-link">Cancel</a>
            </div>
        </div>
    </form>
</div>