<div class="col-md-6 col-md-offset-3">
    <h2>Add New Project</h2>
    <form name="form" ng-submit="addProject()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.ProjectName.$dirty && form.ProjectName.$error.required }">
            <label>Project name</label>
            <input type="text" name="ProjectName" id="ProjectName" class="form-control" ng-model="projectToAddData.ProjectName" required />
            <span style="color:red" ng-show="form.ProjectName.$dirty && form.ProjectName.$error.required" class="help-block">Project Name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.ProjectCode.$dirty && form.ProjectCode.$error.required }">
            <label>Project Code</label>
            <input type="text" name="ProjectCode" id="ProjectCode" class="form-control" ng-model="projectToAddData.ProjectCode" required />
            <span style="color:red" ng-show="form.ProjectCode.$dirty && form.ProjectCode.$error.required" class="help-block">ProjectCode is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.ProjectLead.$dirty && form.ProjectLead.$error.required }">
            <label>Project Lead</label>
            <select name="ProjectLead" ng-model="projectToAddData.ProjectLeadId" class="form-control" required ng-options='item.UserId as (item.UserName) for item in projectLeads'>
                <option value="" ng-selected="true">---Select Project Lead---</option>
            </select>
            <span style="color:red" ng-show="form.ProjectLead.$dirty && form.ProjectLead.$error.required" class="help-block">Please select a Project Lead</span>
        </div>

        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Allocate</button>
            <a href="#/projects" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>

